html
  head
    - var activeTab = '2010_2011';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .row
      .small-12.columns
        h3 Paintings
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'untitled (Horse). Oil on Canvas. 4ft x 5ft. 2011.', url: 'https://dl.dropboxusercontent.com/s/naw093i12yapsbg/2011_untitledHorse_approx4ftx5ft_oilOnCanvas.jpg?dl=0'};
          include jade_partials/thumbnail.jade
        hr

    .row
      .small-12.columns
        h3 Drawings
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'Reclining Figure. Charcoal on Paper. 18in x 24in. 2010.', url: 'https://dl.dropboxusercontent.com/s/uw5gtl5xc90voj9/2010_RecliningFigure_18inx24in_charcoalOnPaper.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Sitting Figure. Charcoal on Paper. 24in x 18in. 2010.', url: 'https://dl.dropboxusercontent.com/s/fxvcmjc1gfkrede/2010_SittingFigure_24inx18in_charcoalOnPaper.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Standing Figure. Charcoal on Paper. 24in x 18in. 2010.', url: 'https://dl.dropboxusercontent.com/s/h54evmbf6xkteu9/2010_StandingFigure_24inx18in_charcoalOnPaper.jpg?dl=0'};
          include jade_partials/thumbnail.jade

    include jade_partials/footer_assets.jade
