html
  head
    - var activeTab = '2012';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .row
      .small-12.columns
        h3 Collage and Mixed Media
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'Study for untitled (Horse). Soft Pastel on Paper and Paste on Cardboard. 12in x 15in. 2012.', url: 'https://dl.dropboxusercontent.com/s/t5086cgj8drs68h/2012_untitledStudyForHorse_12inx15in_SoftPastelOnPaperOnCardboard.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Wolfman. Inkjet Paper on Cardboard. Approx 6in x 10in. 2012.', url: 'https://dl.dropboxusercontent.com/s/hikloky8fysyp6x/2012_Wolfman_approx6inx10in_PaperOnCardBoard.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'untitled. Inkjet Paper and Acrylic on Paper on Cardboard. Approx 18in x 11in. 2012.', url: 'https://dl.dropboxusercontent.com/s/79wsen890y0ehwj/2012_untitled_approx18inx11in_InkjetPaperAndAcrylicOnPaperOnCardboard.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'The Stable: Orange. Acrylic and Graphite on Paper on Panel. Approx 5in x 8in. 2012.', url: 'https://dl.dropboxusercontent.com/s/dhtk3tqjx8xicsh/2012_TheStableOrange_approx5inx8in_AcrylicPaperGraphiteGraphiteOnPanel.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Deluge. Acrylic and Pocket Protectors on Canvas. Approx 12in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/sleyv6c6kvjaq1a/2012_Deluge_approx12inx14in_AcrylicAndPocketProtectorsOnCanvas.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'untitled. Clay on Paper. 24in x 18in. 2012.', url: 'https://dl.dropboxusercontent.com/s/s2q04q4sh64xfol/2012_untitled_24inx18in_ClayOnPaper.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'untitled (Positive). Clay and Tempera on Canvas Board. Approx 18in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/anbgdgt7yq9hdf6/2012_untitledPositive_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0'};
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'untitled (Negative). Clay and Tempera on Canvas Board. Approx 18in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/izxgaowidzsz1id/2012_untitledNegative_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0'};
          include jade_partials/thumbnail.jade
        hr

    .row
      .small-12.columns
        h3 Drawings
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'Mass Gesture Figure Study. Compressed Charcoal on Newsprint. 24in x 18in. 2012.', url: 'https://dl.dropboxusercontent.com/s/uham6yqjtrfxzup/2012_figureStudy_24inx18in_CompressedCharcoalOnNewsprint.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Study for Entomb. Graphite on Paper. Approx 12in x 9in. 2012.', url: 'https://dl.dropboxusercontent.com/s/q43ssd2icpob6m8/2012_StudyForEntomb_approx12inx9in_GraphiteOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Green and White. Ink on Paper. Approx 5in x 7in. 2012.', url: 'https://dl.dropboxusercontent.com/s/xydz4wykwqldcdr/2012_GreenAndWhite_approx5inx7in_InkOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
        hr

    .row
      .small-12.columns
        h3 Paintings
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'Red and Green 1. Acrylic and Gouache on Paper. Approx 5in x 7in. 2012.', url: 'https://dl.dropboxusercontent.com/s/f3pp460aed9rjx5/2012_RedAndGreen1_approx5inx7in_acrylicAndGouacheOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Red and Green 2. Acrylic and Gouache on Paper. Approx 5in x 7in. 2012.', url: 'https://dl.dropboxusercontent.com/s/o6qa6nem3xtrmpw/2012_RedAndGreen2_approx5inx7in_acrylicAndGouacheOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Red and Green 3. Acrylic and Gouache on Paper. Approx 5in x 7in. 2012.', url: 'https://dl.dropboxusercontent.com/s/q5847039lnj0t0h/2012_RedAndGreen3_approx5inx7in_acrylicAndGouacheOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Red and Green 4. Acrylic and Gouache on Paper. Approx 5in x 7in. 2012.', url: 'https://dl.dropboxusercontent.com/s/v8y4zep6hi9am9d/2012_RedAndGreen4_approx5inx7in_acrylicAndGouacheOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Entomb. Oil on Canvas. Approx 80in x 51in. 2012.', url: 'https://dl.dropboxusercontent.com/s/rakjts63vynax3r/2012_Entomb_approx80inx51in_oilOnCanvas.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Study for Entomb. Acrylic and Gouache on Paper. Approx 11in x 7in. 2012.', url: 'https://dl.dropboxusercontent.com/s/1embntzxhothim5/2012_StudyForEntomb_approx11inx7in_acrylicAndGouacheOnPaper.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Retribution. Oil and Acetate on Canvas. 37in x 40in. 2012.', url: 'https://dl.dropboxusercontent.com/s/wmclc46xei3jbhw/2012_Retribution_37inx40in_oilAndAcetateOnCanvas.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Pungent. Acrylic on Canvas. Approx 11in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/r4fain36rv1yd4y/2012_Pungent_approx11inx14in_acrylicOnCanvas.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'The Stable: Red. Acrylic on Panel. Approx 7in x 4in. 2012.', url: 'https://dl.dropboxusercontent.com/s/0wwl46s0ijgdw37/2012_TheStableRed_approx7inx4in_acrylicOnPanel.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'The Stable: Green. Acrylic on Panel. Approx 4in x 5in. 2012.', url: 'https://dl.dropboxusercontent.com/s/joxxfba1d2l1rav/2012_TheStableGreen_approx4inx5in_acrylicOnPanel.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'The Stable: Blue. Acrylic on Panel. Approx 4in x 5in. 2012.', url: 'https://dl.dropboxusercontent.com/s/k0vegjsqs80uebc/2012_TheStableBlue_approx4inx5in_arcylicOnPanel.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'The Stable: Purple. Acrylic on Panel. Approx 8in x 5in. 2012.', url: 'https://dl.dropboxusercontent.com/s/dqbg1lg8xia3x5a/2012_TheStablePurple_approx8inx5in_acrylicOnPanel.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'untitled. Acrylic on Canvas Board. Approx 10in x 8in. 2012.', url: 'https://dl.dropboxusercontent.com/s/i8l6kp3qf4og6s1/2012_untitled_approx10inx8in_acrylicOnCanvasBoard.jpg?dl=0'}
          include jade_partials/thumbnail.jade
        hr

    .row
      .small-12.columns
        h3 Sculpture
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'Study for untitled (Horse). Clay on Panel. Approx 4in x 6in. 2012.', url: 'https://dl.dropboxusercontent.com/s/o4773dntzlgst0e/2012_StudyForuntitledHorse_approx4inx6in_ClayOnPanel.jpg?dl=0'}
          include jade_partials/thumbnail.jade
        hr

    .row
      .small-12.columns
        h3 Digital Images
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var thumbnail = {title: 'Retribution (Blocks). Digital image (Adobe Photoshop). 2012.', url: 'https://dl.dropboxusercontent.com/s/gi8bnzskubrgkt5/2012_Retribution.jpg?dl=0'}
          include jade_partials/thumbnail.jade
          - var thumbnail = {title: 'Retribution (Lines). Digital image (Adobe Photoshop). 2012.', url: 'https://dl.dropboxusercontent.com/s/319fbmw86uu32w6/2012_RetributionLines.jpg?dl=0'}
          include jade_partials/thumbnail.jade
        hr

    .row
      .small-12.columns
        h3 Video
    .row
      .small-12.columns
        iframe(src='//player.vimeo.com/video/114924970', width='500', height='467', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
          p
            a(href='http://vimeo.com/114924970') Retribution (Blocks)
            |  from
            a(href='http://vimeo.com/user35605639') Russ Rinzler
            |  on
            a(href='https://vimeo.com') Vimeo
            | .
    br
    .row
      .small-12.columns
        iframe(src='//player.vimeo.com/video/114924755', width='500', height='647', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
          p
            a(href='http://vimeo.com/114924755') Interaction of Color IV
            |  from
            a(href='http://vimeo.com/user35605639') Russ Rinzler
            |  on
            a(href='https://vimeo.com') Vimeo
            | .



    include jade_partials/footer_assets.jade
