html
  head
    - var activeTab = '2012';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .container
      .row
        .col-xs-12
          h3 Collage and Mixed Media
      .row
        - var thumbnail = {title: 'Study for untitled (Horse). Soft Pastel on Paper and Paste on Cardboard. 12in x 15 in. 2012.', url: 'https://dl.dropboxusercontent.com/s/t5086cgj8drs68h/2012_untitledStudyForHorse_12inx15in_SoftPastelOnPaperOnCardboard.jpg?dl=0'};
        include jade_partials/thumbnail.jade
        - var thumbnail = {title: 'Wolfman. Inkjet Paper on Cardboard. Approx 6in x 10in. 2012.', url: 'https://dl.dropboxusercontent.com/s/hikloky8fysyp6x/2012_Wolfman_approx6inx10in_PaperOnCardBoard.jpg?dl=0'};
        include jade_partials/thumbnail.jade
        - var thumbnail = {title: 'untitled. Inkjet Paper and Acrylic on Paper on Cardboard. Approx 18in x 11in. 2012.', url: 'https://dl.dropboxusercontent.com/s/79wsen890y0ehwj/2012_untitled_approx18inx11in_InkjetPaperAndAcrylicOnPaperOnCardboard.jpg?dl=0'};
        include jade_partials/thumbnail.jade
        - var thumbnail = {title: 'The Stable: Orange. Acrylic and Graphite on Paper on Panel. Approx 5in x 8in. 2012.', url: 'https://dl.dropboxusercontent.com/s/dhtk3tqjx8xicsh/2012_TheStableOrange_approx5inx8in_AcrylicPaperGraphiteGraphiteOnPanel.jpg?dl=0'};
        include jade_partials/thumbnail.jade
        - var thumbnail = {title: 'Deluge. Acrylic and Pocket Protectors on Canvas. Approx 12in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/sleyv6c6kvjaq1a/2012_Deluge_approx12inx14in_AcrylicAndPocketProtectorsOnCanvas.jpg?dl=0'};
        include jade_partials/thumbnail.jade
        - var thumbnail = {title: 'untitled. Clay on Paper. 24in x 18in. 2012.', url: 'https://dl.dropboxusercontent.com/s/s2q04q4sh64xfol/2012_untitled_24inx18in_ClayOnPaper.jpg?dl=0'};
        include jade_partials/thumbnail.jade
      .row
        - var thumbnail = {title: 'untitled (Positive). Clay and Tempera on Canvas Board. Approx 18in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/anbgdgt7yq9hdf6/2012_untitledPositive_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0'};
        include jade_partials/thumbnail.jade
        - var thumbnail = {title: 'untitled (Negative). Clay and Tempera on Canvas Board. Approx 18in x 14in. 2012.', url: 'https://dl.dropboxusercontent.com/s/izxgaowidzsz1id/2012_untitledNegative_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0'};
        include jade_partials/thumbnail.jade

      hr
      .row
        .col-xs-12
          h3 Drawings
      hr
      .row
        .col-xs-12
          h3 Paintings
      hr
      .row
        .col-xs-12
          h3 Sculpture
      hr
      .row
        .col-xs-12
          h3 Digital Images
      hr
      .row
        .col-xs-12
          h3 Video

    include jade_partials/footer_assets.jade
