html
  head
    - var activeTab = '2014';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .container
      .row
        .col-xs-12
          h3 Digital Images

    include jade_partials/footer_assets.jade
