html
  head
    - var activeTab = '2014';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .container
      .row
        .col-xs-12
          h3 Digital Images
      .row
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/4wahbjdiwcsfm7u/2014_void_1.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/4wahbjdiwcsfm7u/2014_void_1.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/4wahbjdiwcsfm7u/2014_void_1.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/4wahbjdiwcsfm7u/2014_void_1.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/ywq5fp17zvub3hu/2014_void3.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/ywq5fp17zvub3hu/2014_void3.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/7f76jvghjxwptwb/2014_void4.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/7f76jvghjxwptwb/2014_void4.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/cdnhwquh93czpjg/2014_void5.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/cdnhwquh93czpjg/2014_void5.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/3njy8cljpj9c9j7/2014_void6.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/3njy8cljpj9c9j7/2014_void6.png?dl=0')

      .row
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/fwkzee2kew93223/2014_void7.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/fwkzee2kew93223/2014_void7.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/q8ivfbpc84hudsq/2014_void8.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/q8ivfbpc84hudsq/2014_void8.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/9h47qng0fqrzdaz/2014_void9.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/9h47qng0fqrzdaz/2014_void9.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/meq1j3h3gv8vcct/2014_void10.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/meq1j3h3gv8vcct/2014_void10.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/gopmv1hsxwclhx3/2014_void11.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/gopmv1hsxwclhx3/2014_void11.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/cy4w4f9ycxte1hw/2014_void12.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/cy4w4f9ycxte1hw/2014_void12.png?dl=0')

      .row
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/sm6mqaqp3t066ix/2014_void13.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/sm6mqaqp3t066ix/2014_void13.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/lvhad8vwxmnbt93/2014_void_grid_1.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/lvhad8vwxmnbt93/2014_void_grid_1.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/ytiglqvyw54j9n0/2014_void-grid2.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/ytiglqvyw54j9n0/2014_void-grid2.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/a7wtsljgafscmum/2014_void-grid3.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/a7wtsljgafscmum/2014_void-grid3.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/g8jq6geihfsigjc/2014_void-grid4.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/g8jq6geihfsigjc/2014_void-grid4.png?dl=0')
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/xgjz8eqtjk6cgj6/2014_void-grid5.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/xgjz8eqtjk6cgj6/2014_void-grid5.png?dl=0')

      .row
        .col-xs-6.col-md-2
          a.thumbnail(href='#', data-mfp-src="https://dl.dropboxusercontent.com/s/4x4alied4rx73pt/2014_void-grid6.png?dl=0")
            img(src='https://dl.dropboxusercontent.com/s/4x4alied4rx73pt/2014_void-grid6.png?dl=0')

    include jade_partials/footer_assets.jade
