html
  head
    - var activeTab = '2014';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .row
      .small-12.columns
        h3 Digital Images
    .row
      .small-12.columns
        ul.clearing-thumbs.small-block-grid-3.medium-block-grid-4.large-block-grid-6(data-clearing)
          - var artwork = {title: 'Void 1. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/fqug1own79zfwc7/2014_void1.png?dl=0', thumb: './images/2014/digital_images/2014_void1_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 2. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/h81c187606amwia/2014_void2.png?dl=0', thumb: './images/2014/digital_images/2014_void2_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 3. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/c2dwwsfy4c4mf7b/2014_void3.png?dl=0', thumb: './images/2014/digital_images/2014_void3_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 4. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/3wwh3bvzie22ldq/2014_void4.png?dl=0', thumb: './images/2014/digital_images/2014_void4_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 5. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/0yv13l4zcr8o9m6/2014_void5.png?dl=0', thumb: './images/2014/digital_images/2014_void5_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 6. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/duo0fv3skekfu6n/2014_void6.png?dl=0', thumb: './images/2014/digital_images/2014_void6_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 7. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/z6sdxtc9y9bvak4/2014_void7.png?dl=0', thumb: './images/2014/digital_images/2014_void7_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 8. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/73h3p19p8uiyuj7/2014_void8.png?dl=0', thumb: './images/2014/digital_images/2014_void8_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 9. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/5m3ovm3rdam400s/2014_void9.png?dl=0', thumb: './images/2014/digital_images/2014_void9_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 10. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/xwua7n69iyn0x12/2014_void10.png?dl=0', thumb: './images/2014/digital_images/2014_void10_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 11. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/nqv2urtn3stbzhn/2014_void11.png?dl=0', thumb: './images/2014/digital_images/2014_void11_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 12. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/aphzlorxtdqf3rp/2014_void12.png?dl=0', thumb: './images/2014/digital_images/2014_void12_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void 13. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/cwxrcj0s1alwuik/2014_void13.png?dl=0', thumb: './images/2014/digital_images/2014_void13_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void Grid 1. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/3ibrzrf2sh2gyl3/2014_void_grid_1.png?dl=0', thumb: './images/2014/digital_images/2014_void_grid_1_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void Grid 2. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/jtcgcwxprsn3j8i/2014_void-grid2.png?dl=0', thumb: './images/2014/digital_images/2014_void-grid2_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void Grid 3. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/4ahdslwa7ss7z14/2014_void-grid3.png?dl=0', thumb: './images/2014/digital_images/2014_void-grid3_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void Grid 4. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/0lozdui7ebkpl3k/2014_void-grid4.png?dl=0', thumb: './images/2014/digital_images/2014_void-grid4_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void Grid 5. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/0t84nnca6kfgd1r/2014_void-grid5.png?dl=0', thumb: './images/2014/digital_images/2014_void-grid5_th.png'};
          include jade_partials/thumbnail.jade
          - var artwork = {title: 'Void Grid 6. Digital image (Adobe Photoshop). 2014.', url: 'https://dl.dropboxusercontent.com/s/vm45kj9nkvyt5ih/2014_void-grid6.png?dl=0', thumb: './images/2014/digital_images/2014_void-grid6_th.png'};
          include jade_partials/thumbnail.jade

    include jade_partials/footer_assets.jade
