doctype html
html
  head
    title Russ Rinzler
    link(href="assets/russ_art_main.css", rel="stylesheet")
  body
    include jade_partials/top_bar.jade

    section.scroll-container(role="main")
      .row
        .small-12.columns
          h2 About
          p.
            I'm Russ, an artist from Seattle but currently based out of San Francisco.
          p.
            My work plays with interactions of color and space to 
            elucidate a personal history and document a continuing autobiography. 
            Having grown up in many locations along the West Coast, the geography 
            didn’t lend a sense of stability as much as the 
            materials and entertainment I used to look at: scientific illustration, 
            video games, and other forms of quantitative information and 
            interactive media. Using subject matter from these areas, I run 
            formalistic experiments, learning how certain colors and shapes 
            interact, sometimes with very methodical processes. Often, the results 
            yield an ambiguous space, but the procession of images helps me 
            construct a stasis for my interests, memories, and surroundings. 
            Though I consider myself a painter, I continue to use a variety of 
            media to develop my practice and build upon my visual life story.

          hr

          h2 CV
          h4 Education
          h5 2012
          ul
            li.
              BFA Painting and Drawing/BA Japanese (Concentration in Linguistics), 
              Cum Laude, University of Washington, Seattle, WA
            li.
              Independent Study with Professor Ann Gale, Spring 2012, 
              University of Washington

          h4 Exhibitions
          h5 2012
          ul
            li.
              BFA Painting and Drawing Senior Show, Jacob Lawrence Gallery, 
              Seattle, WA
            li.
              BFA/BA Painting and Drawing Senior Show, 
              Sandpoint Gallery, Seattle, WA
            li.
              "Open”: University of Washington School of Art Winter 2012 
              Juried Show, Jacob Lawrence Gallery
          h5 2011
          ul
            li.
              "Present”: University of Washington School of Art Autumn 2011 
              Juried Show, Jacob Lawrence Gallery

          h4 Awards and Honors
          h5 2012
          ul 
            li Dean’s List, 9 quarters, University of Washington
          h5 2010
          ul 
            li Elected to Phi Beta Kappa
          h5 2009
          ul 
            li National Society of Collegiate Scholars Membership

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js")
    script(src="assets/russ_art_main.js")