doctype html
html
	head
		title Russ Rinzler
		link(href="assets/russ_art_main.css", rel="stylesheet")
	body
		nav.top-bar(data-topbar, role="navigation")
			ul.title-area
				li.name
					h1
						a(href="/") Russ Rinzler
				li.toggle-topbar
					a(href="#")
						span Menu
			section.top-bar-section
				ul.right
					li
						a(href="http://gulpjs.com/") Gulp
					li
						a(href="http://foundation.zurb.com/docs/") Foundation Docs
					li.has-dropdown
						a(href="http://christian.anguiano.me/") A Dropdown!
						ul.dropdown
							li
								a(href="https://git.anguiano.me/") Git
							li
								a(href="http://blog.anguiano.me") Blog

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js")
		script(src="assets/russ_art_main.js")