doctype html
html(lang="en")
  head
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade

    .container
      .row
        .col-xs-12
          h1 Recent Updates
          h4 Dec. X, 2014
          p Site uploaded.

    include jade_partials/footer_assets.jade
