doctype html
html
  head
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade

    section.scroll-container(role="main")
      .row
        .small-12.columns
          h1 Recent Updates
          h4 Dec. X, 2014
          p Site uploaded.

    include jade_partials/footer_assets.jade