nav.top-bar(data-topbar, role="navigation")
  ul.title-area
    li.name
      h1
        a(href="/") Russ Rinzler
    li.toggle-topbar
      a(href="#")
        span Menu
  section.top-bar-section
    ul.right
      li.has-dropdown
        a(href="#") Artwork
        ul.dropdown
          li
            a(href="#") 2014
          li
            a(href="#") 2012
          li
            a(href="#") 2011
          li
            a(href="#") 2009
      li
        a(href="/about.html") About/CV
      li
        a(href="/links.html") Contact/Links
