nav.top-bar(role="navigation")
  ul.title-area
    li.name
      h1
        a(href="/") Russ Rinzler
    li.toggle-topbar
      a(href="#")
        span Menu
  section.top-bar-section
    ul.right
      - if (activeTab === 'undefined') {activeTab = ''};
      li.has-dropdown(class=activeTab === 'artwork' ? "active" : "")
        a(href="#") Artwork
        ul.dropdown
          li
            a(href="/2014.html") 2014
          li
            a(href="/2012.html") 2012
          li
            a(href="/2010_2011.html") 2010 & 2011
      li(class=activeTab === 'about' ? "active" : "")
        a(href="/about.html") About/CV
      li(class=activeTab === 'links' ? "active" : "")
        a(href="/links.html") Contact/Links
